{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<div class="cover">
<div class="navbar">
<div class="container">
<div class="navbar-header"><button class="navbar-toggle" data-target="#navbar-ex-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span></button></div>

<div class="collapse navbar-collapse" id="navbar-ex-collapse">
<ul class="nav navbar-nav navbar-right">
	<li><a href="http://www.facebook.com/groups/278185615891943/">Contato</a></li>
</ul>
</div>
</div>
</div>

<div class="cover-image" style="background-image : url('https://hd.unsplash.com/photo-1431324155629-1a6deb1dec8d')"></div>

<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h1 class="text-inverse">Força Chape</h1>
<img class="img-responsive img-thumbnail" src=".\chape.jpg" />
<p class="text-center text-inverse">Um novo cais foi dado para tantas vidas...<br> Como amantes do esporte e como admiradores da vida desejamos força...</p>
<br />
<br />
<a class="btn btn-lg btn-success" href="https://docs.google.com/spreadsheets/d/1Xj1maxmUk-yBsWTW3gDfg1Ox_04zdfdqDVSEIOv5Up8/edit?usp=sharing">Estat&iacute;sticas&nbsp;</a> <a class="btn btn-lg btn-primary" href="https://goo.gl/forms/dmL5c0hhrxpMiqIa2">Vota&ccedil;&atilde;o Atual 20-12</a></div>

<div class="col-md-12 text-center">
<p class="text-center text-inverse"></p>
<iframe frameborder="0" height="500" src="https://docs.google.com/spreadsheets/d/1Xj1maxmUk-yBsWTW3gDfg1Ox_04zdfdqDVSEIOv5Up8/pubhtml?gid=604413896&amp;single=true&amp;widget=false&amp;headers=false&amp;gridlines=false" width="670"></iframe></div>

<div class="col-md12 text-center"></div>
</div>
</div>
</div>
</body>
</html>